@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap')
	;

html * {
	font-family: 'Poppins', sans-serif;
	text-underline-position: under;
}

.btns > button, .btns > div > a {
	border: 1px solid #707A8B;
	border-radius: 6px;
	padding: 5px;
}

.btns > button:hover, .btns > div > a:hover {
	background-color: #707A8B;
	color: white;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 20px auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#loading {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

#loading p {
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	color: #555;
}
